{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'APIdjango/css/index.css' %}">
</head>
<body>
    <div>
        <form action= "{% url 'returnPayOut' %}" method="GET">
            <input type="submit" value="returnPayOut">
        </form>
        <br>
        <form action= "{% url 'returnCheckAdress' %}" method="GET">
            <input type="submit" value="returnCheckAdress">
        </form>
        <form action="{% url 'returnSendPayMount' %}" method="GET">
            <input type="submit" value='returnSendPayMount'>
        </form>
    </div>
</body>
</html>